html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

.h1tile{
    position: fixed;
    left: 40%;
    top: 35%;
    z-index: 2;
    padding: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 48px;
    color: rgb(19, 19, 19);
  
}
.image img{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.father{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    bottom: 'mui-btn mui-btn--primary';  

}
h4{    
    color: #030303;   
}
input{
    border-radius: 3px;
    border: 1px solid gray;
}
.CapInput{
    background-color: white;
    box-shadow: 0px 7px 20px -11px rgba(0,0,0,0.75);  
    width: 200px;
    height: 200px;
    border-radius: 2px;        
    text-align: center;
    gap: 10px;
    outline: none;
    padding: 10px;    
}
.CapInput img{
    width: 100%;
    height: 100px;
}
.darkfather{
    background-color: white;
    box-shadow: 0px 7px 20px -11px rgba(0,0,0,0.75);
    border: 2px white;
    width: 200px;            
    border-radius: 5px;    
    text-align: center;
}
.dark{
    background-color: white;
    box-shadow: 0px 7px 20px -11px rgba(0,0,0,0.75);
    color: white;
    border-radius: 5px ;
    background-color: rgb(32, 32, 32);   
    text-align: center;
}
.form-modal{
    text-align: center;
    z-index: 999;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: fixed;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: white;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 9px 60px -11px rgba(0,0,0,0.85);  
}
.formsz{
width: 100%;
height: 100%;
}
.activemodal{
    z-index: 990;
    opacity: 1;
    visibility: visible;
    border-radius: 3px;
}
.btn-action{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btnbasic{
    margin-top: 80px;    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.action{
     
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.btn-xdiv{    
    display: flex;
    justify-content: flex-end;
}
.btnx{
    border-radius: 3px;
    background-color: red;
    color: white;
    border: none;

}

